<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= foundStudent.name %>資料</title>
  </head>
  <style>
    table,
    tr,
    td {
      border: 1.5px solid black;
    }
  </style>
  <body>
    <h1>學生資料</h1>
    <table>
      <tr>
        <td>學生ID</td>
        <td><%= foundStudent._id %></td>
      </tr>
      <tr>
        <td>姓名</td>
        <td><%= foundStudent.name %></td>
      </tr>
      <tr>
        <td>年齡</td>
        <td><%= foundStudent.age %></td>
      </tr>
      <tr>
        <td>metit獎學金</td>
        <td><%= foundStudent.scholarship.merit %></td>
      </tr>
      <tr>
        <td>other獎學金</td>
        <td><%= foundStudent.scholarship.other %></td>
      </tr>
    </table>
    <a href="/students/<%=foundStudent._id%>/edit">修改資料</a>
    <a href="/students">回到首頁</a>
  </body>
</html>
